<section class="w-100 d-flex justify-content-center align-items-center">
    <div class="container-preguntas mt-5">
        <div class="">
            <h4>PREGUNTAS FRECUENTES</h4>
        </div>
        <div class="d-flex">
            <div >
                <div class="d-flex align-items-start my-4">
                    <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas" class="icono-azul">
                    <div>
                        <h6 class="mb-3">¿Dónde está ubicado el centro médico de diagnóstico 
                            9 de Julio?
                            </h6>
                        <p class="w-75">El centro médico de diagnóstico 9 de julio está ubicado en la Av. 9 de 
                            julio …. En la sección de contacto, podrás ver el mapa con nuestra 
                            ubicación.
                            </p>
                    </div>
                </div>
                <div class="d-flex align-items-start my-4">
                    <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas"class="icono-azul">
                    <div>
                        <h6 class="mb-3">¿Cuáles son los medios de transportes disponibles?
                        </h6>
                        <p  class="w-75">Para llegar al centro médico, tenés numerosos medios de transporte a 
                            tu disposición. Subte A y B. Carril del metrobus con los colectivos de 
                            las siguientes líneas:
                        </p>
                    </div>                 
                </div>
                <div class="d-flex align-items-start my-4">
                    <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas"class="icono-azul">
                    <div>
                        <h6 class="mb-3">¿Sólo atienden a través de instituciones de medicina 
                            prepaga u obras sociales?
                        </h6>
                        <p  class="w-75">Podés atenderte con nosotros en forma particular o a través del 
                            sistema de reintegro cuando tu cobertura médica no tiene convenio 
                            con nosotros.
                        </p>
                    </div>
                </div>
            </div>
                    
        <div>
            <div class="d-flex align-items-start my-4">
                <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas"class="icono-azul">
                <div>
                    <h6 class="mb-3">
                        ¿Cómo puedo solicitar un turno?
                    </h6>
                    <p  class="w-75">Podés reservar tu turno a través del sitio web en nuestro portal de 
                        turnos haciendo <a href="">clic aquí.</a> También podés solicitar un turno llamando 
                        por teléfono al ……………… o de manera personal.
                    </p>
                </div>     
            </div>
            <div class="d-flex align-items-start my-4">
                <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas"class="icono-azul">
                <div>
                    <h6 class="mb-3">
                        ¿Cómo debo hacer para retirar mis estudios?
                    </h6>
                    <p  class="w-75">Tus estudios serán subidos al portal del paciente, ingresando allí, con 
                        tu clave personal estarán a tu disposición todos los estudios que 
                        realizaste en el centro médico. 
                    </p>
                </div>
            </div>
            <div class="my-5 consulta-text">
                <h6>Si tenés alguna otra duda o consulta, por favor 
                    comunicate a través de nuestro formulario de contacto.
                </h6>
                <button class="blue-button mt-2">Ir al formulario de contacto</button>
            </div>
        </div>
        </div>

    </div>
    
</section>
