<section class="section-preguntas">
    <div class="container-preguntas mt-5 ">
        <div class="">
            <h4>PREGUNTAS FRECUENTES</h4>
        </div>
        <div class="preguntas-frecuentes">
            <div class="div-preguntas-00">
                <div class="d-flex align-items-start my-2">
                    <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas" class="icono-azul">
                    <div class="div-preguntas">
                        <p>
                            <a class="button-preguntas text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample0" aria-expanded="false" aria-controls="collapseWidthExample0">
                                ¿Dónde está ubicado el centro médico de diagnóstico 
                                9 de Julio?
                            </a>
                        </p>
                          <div style="min-height: 20px;">
                            <div class="collapse collapse-vertical" id="collapseWidthExample0">
                              <div class="card-body" style="max-width:500px;">
                               <p>
                                El centro médico de diagnóstico 9 de julio está ubicado en Lima 631. En la sección de contacto, podrás ver el mapa con nuestra 
                                ubicación.
                               </p> 
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="d-flex align-items-start my-2">
                    <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas"class="icono-azul">
                    <div class="div-preguntas">
                        <p>
                            <a class="button-preguntas text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample1">
                                ¿Cuáles son los medios de transportes disponibles?
                            </a>
                        </p>
                          <div style="min-height: 20px;">
                            <div class="collapse collapse-vertical" id="collapseWidthExample1">
                              <div class=" card-body" style="max-width: 500px;">
                                <p>
                                  Para llegar al centro médico, tenés numerosos medios de transporte a tu disposición:
                                  -Subte A y B.
                                  -Trenes de la Línea Roca en plaza Constitución.
                                  -Metrobús con colectivos de las siguientes líneas: 9, 10, 17, 39, 45, 59, 67, 70, 91, 98, 100 y 129.                                  
                                </p> 
                              </div>
                            </div>
                          </div>
                    </div>               
                </div>
                <div class="d-flex align-items-start my-2">
                    <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas"class="icono-azul">
                    <div class="div-preguntas">
                        <p>
                            <a class="button-preguntas text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2" >
                            ¿Sólo atienden a través de instituciones de medicina prepaga u obras sociales?
                            </a>
                        </p>
                          <div style="min-height: 20px;">
                            <div class="collapse collapse-vertical" id="collapseWidthExample2">
                              <div class=" card-body" style="max-width: 500px;">
                                <p>
                                    Podés atenderte con nosotros en forma particular o a través del sistema de reintegro cuando tu cobertura médica no tiene convenio con nosotros. 
                                </p> 
                              </div>
                            </div>
                          </div>
                    </div>  
                </div>
            </div>
                    
          <div class="div-preguntas-01">
              <div class="d-flex align-items-start my-2">
                  <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas"class="icono-azul">
                  <div class="div-preguntas">
                      <p>
                          <a class="button-preguntas text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3">
                              ¿Cómo puedo solicitar un turno?
                          </a>
                      </p>
                        <div style="min-height: 20px;">
                          <div class="collapse collapse-vertical" id="collapseWidthExample3">
                            <div class=" card-body" style="max-width: 500px;">
                              <p>
                                  Podés reservar tu turno a través del sitio web en nuestro portal de turnos haciendo clic aquí. También podés solicitar un turno llamando por teléfono al 11-2150-9801 o de manera personal.  
                              </p>
                            </div>
                          </div>
                        </div>
                  </div>  
              </div>
              <div class="d-flex align-items-start my-2">
                  <img src="../../assets/img/rombitoAzul.png" alt="Icono azul preguntas"class="icono-azul">
                  <div class="div-preguntas">
                      <p>
                          <a class="button-preguntas text-start " type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample4">
                              ¿Cómo debo hacer para retirar mis estudios?
                          </a>
                      </p>
                        <div style="min-height: 20px;">
                          <div class="collapse collapse-vertical" id="collapseWidthExample4">
                            <div class="card-body" style="max-width: 500px;">
                              <p>
                                Tus estudios serán subidos al portal del paciente. Ingresando allí con tu clave personal, estarán a tu disposición todos los estudios que realizaste con nosotros.   
                              </p>
                            </div>
                          </div>
                        </div>
                  </div>  
              </div>
              <div class="consulta-text">
                  <h6>Si tenés alguna otra duda o consulta, por favor 
                      comunicate a través de nuestro formulario de contacto.
                  </h6>
                  <button class="blue-button mt-2"  [routerLink]="'../contacto'">Ir al formulario de contacto</button>
              </div>
          </div>
        </div>

    </div>
    
</section>
