<header class="blue-header">
    <a href="">ins</a>
    <a href="">fac</a>
    <a href="">in</a>
    <a href="">
        <div>
            <p>TURNOS ONLINE</p>
        </div>
    </a>
    <a href="">
        <div>
            <p>
                PORTAL PACIENTE
            </p>
        </div>
    </a>
</header>
<section class="section-header">
    <div class="container-header">
            <div class="div-header-text">
                <div>
                    <h4>
                        CENTRO DE DIAGNOSTICO
                    </h4>
                    <h3>
                        9 DE JULIO
                    </h3>
                </div>
                <h3>/</h3>
                <div>
                    <h4>
                        MEDICINA LABORAL
                    </h4>
                    <h3>
                        9 DE JULIO
                    </h3>
                </div>
            </div>
            <div class="div-header-num">
                <h4>CENTRAL DE TURNOS</h4>
                <h3>011-7852-2569</h3>
            </div>
    </div>
</section>
<app-navbar></app-navbar>

