<section class="section-footer">
    <div class="container-footer">
        <div>
            <div class="div-logo-footer">
                <div>
                    <h4>CENTRO DE DIAGNOSTICO</h4>
                    <h4>9 DE JULIO</h4>
                </div>
               <h5 class="mx-3">/</h5>
               <hr>
                <div>
                    <h4>MEDICINA LABORAL</h4>
                    <h4>9 DE JULIO</h4>
            </div>
            </div>
            <div>
                <ul>
                    <li><a href="">INICIO</a></li>
                    <li><a href="nosotros">NOSOTROS</a></li>
                    <li><a href="serviciosMedicos">SERVICIOS MÉDICOS</a></li>
                    <li><a href="">COBERTURAS MÉDICAS</a></li>
                    <li><a href="medicinaLaboral">MEDICINA LABORAL</a></li>
                    <li><a href="preguntasFrecuentes">PREGUNTAS FRECUENTES</a></li>
                    <li><a href="">CONTACTO</a></li>
                </ul>
            </div>
        </div>
        <div>
            <h6>Lima 631, CABA</h6>
            <h6>CP: C1073AAM</h6>
            <h6>Whatsapp Bussines.:11-2150-9801</h6>
            <h6>Whatsapp:+54112150-9801</h6>
        </div>
        <div>
            <div>
                <h6>Seguinos en nuestras <br/>
                    redes sociales
                </h6>
            </div>
            <div class="div-rrss-footer">
                <i class="fa-brands fa-instagram icon-rrss" style="color: #ffffff;"></i>
                <i class="fa-brands fa-facebook-f icon-rrss" style="color: #ffffff;"></i>
                <i class="fa-brands fa-linkedin-in icon-rrss" style="color: #ffffff;"></i>
            </div>
        </div>
    </div>
</section>
