@import "../../styles/variables";

.container-nosotros{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.div-img-nosotros{
    img{
        width: 100%;
    }
}


.background-nosotros0{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    img{
        width: 30%;
    }
    p{
        @include text-img-home;
        font-size: 1.8rem;
    }
}
.background-nosotros01{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p{
        @include blue-header;
        font-size:1.5rem;
    }
    h4{
        @include title-nosotros;
    }
    .img-nosotros01a{
        width: 10%;
    }
    .img-nosotros01{
        width: 40%;
    }
}
.background-nosotros02{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p{
        @include blue-header;
        font-size:1.5rem;
    }
    h4{
        @include title-nosotros;
    }
    .img-nosotros02{
        width: 40%;
    }
}
.background-nosotros03{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p{
        @include blue-header;
        font-size:1.5rem;
    }
    h4{
        @include title-nosotros;
       
    }
    .img-nosotros03a{
        width: 40%;
    }
    .img-nosotros03{
        width: 7%;
    }
}
@media screen and (min-width: 1240px) and (max-width: 1700px) {
    .background-nosotros0{
       
        p{
            font-size: 1.5rem;
        }
    }
    .background-nosotros01{
        .img-nosotros01{
            width: 35%;
        }
        p{
            font-size:1.3rem;
        }
    }
    .background-nosotros02{
        p{
            font-size:1.3rem;
        }
        .img-nosotros02{
            width: 35%;
        }
    }
    .background-nosotros03{
        align-items: flex-end;
        p{
            font-size:1.3rem;
        }
        .img-nosotros03a{
            width: 35%;
        }
        .img-nosotros03{
            width: 5%;
        }
    }
}