
<section class="container-nosotros">
    <div class="div-img-nosotros">
        <img src="../../assets/img/nosotrosBanner.png" alt="">
    </div>
    <div class="background-nosotros0">
        <p class="md-mt-3">Somos un centro de diagnóstico médico <br/>
            con una visión integral basada en <br/>
            tres pilares fundamentales:</p>
        <img src="../../assets/img/rombo0.png" alt="">   
    </div>    
    <div class="background-nosotros01 pt-3">
        <img src="../../assets/img/rombo01a.png" alt="" class="img-nosotros01a">
        <div class="w-75 d-flex align-items-start justify-content-center ">
            <img src="../../assets/img/rombito.png" alt="pequeño romo gris" class="rombo-gris">
          <div class="w-75 ms-3">
            <h4 >El paciente</h4>    
            <p>El paciente, es nuestra razón de ser. Por este motivo,<br/>
                brindamos una atención humana y dedicada a cada <br/>
                uno de nuestros pacientes garantizando la mejor <br/>
                atención médica.</p>
          </div>
        </div>
        <img src="../../assets/img/rombo01.png" alt="" class="img-nosotros01">
    </div> 
    <div class="background-nosotros02 pt-3">
        <img src="../../assets/img/rombo02.png" alt="" class="img-nosotros02">
        <div class="w-75 d-flex align-items-start justify-content-center ">
            <img src="../../assets/img/rombito.png" alt="pequeño romo gris" class="rombo-gris">
            <div class="w-75 ms-3">
                <h4>La calidad profesional médica y técnica</h4>
                <p>El staff profesional del centro de diagnóstico 9 de Julio, <br/>
                    está integrado por un equipo médico con la más alta <br/>
                    formación técnico profesional acreditando excelencia <br/>
                    e idoneidad en cada una de sus especialidades. </p>
            </div>  
        </div>   
    </div>  
    <div class="background-nosotros03 pt-5">
        <img src="../../assets/img/rombo03.png" alt=""class="img-nosotros03">
        <div class="div-text-final">
            <img src="../../assets/img/rombito.png" alt="pequeño romo gris" class="rombo-gris">
            <div class="div-text-nosotros-final ms-3">
                <h4>El equipamiento médico con la más <br/>
                    avanzada tecnología</h4>
                <p>El equipamiento médico del centro de diagnóstico  <br/>
                    9 de julio es de última generación fabricado por  <br/>
                    las marcas más reconocidas del mercado.   <br/>
                    Realizamos inversiones constantes con el objetivo  <br/>
                    de renovar periódicamente los equipos y ofrecer,  <br/>
                    de esta manera, las mejores alternativas tecnológicas  <br/>
                    a cada uno de los pacientes y empresas de salud que  <br/>
                    confían en nosotros. </p>
            </div> 
        </div> 
        <img src="../../assets/img/rombo03a.png" alt="" class="img-nosotros03a">  
    </div>    
</section>
