
<section class="container-nosotros">
    <div class="div-img-nosotros">
        <img src="../../assets/img/nosotrosBanner.png" alt="Imagen Nosotros Banner">
    </div>
    <div class="div-nosotros">
        <div class="background-nosotros0">
            <p class="md-mt-3">Somos un centro de diagnóstico médico <br/>
                con una visión integral basada en <br/>
                tres pilares fundamentales:</p>
            <img src="../../assets/img/rombo0.png" alt="Imagen Marcador Rombo">   
        </div>    
        <div class="background-nosotros01 pt-3">
            <img src="../../assets/img/rombo01a.png" alt="Imagen Marcador Rombo" class="img-nosotros01a">
            <div class="w-75 d-flex align-items-start justify-content-center ">
                <img src="../../assets/img/rombito.png" alt="pequeño romo gris" class="rombo-gris">
              <div class="w-75 ms-3">
                <h4 >El paciente</h4>    
                <p>El paciente, es nuestra razón de ser.<br/>
                    Por este motivo, brindamos una atención médica  <br/>
                    humana garantizando la mejor atención. <br/>
                    </p>
              </div>
            </div>
            <img src="../../assets/img/rombo01.png" alt="Imagen Marcador Rombo" class="img-nosotros01">
        </div> 
        <div class="background-nosotros02 pt-3">
            <img src="../../assets/img/rombo02.png" alt="Imagen Marcador Rombo" class="img-nosotros02">
            <div class="w-75 d-flex align-items-start justify-content-center ">
                <img src="../../assets/img/rombito.png" alt="pequeño romo gris" class="rombo-gris">
                <div class="w-75 ms-3">
                    <h4>La calidad profesional médica y técnica</h4>
                    <p>El staff profesional de <strong>Diagnóstico 9 de Julio</strong>, está integrado por un equipo de médicos y técnicos con la más alta formación disciplinaria y profesional, acreditando excelencia en cada una de las especialidades que lo conforman.</p>
                </div>  
            </div>   
        </div>  
        <div class="background-nosotros03 pt-4">
            <img src="../../assets/img/rombo03.png" alt="Imagen Marcador Rombo"class="img-nosotros03">
            <div class="div-text-final">
                <img src="../../assets/img/rombito.png" alt="pequeño romo gris" class="rombo-gris">
                <div class="div-text-nosotros-final ms-3">
                    <h4>El equipamiento médico con <br/>la tecnología más avanzada
                    </h4>
                    <p>Los equipos utilizados en <strong>Diagnóstico 9 de Julio,</strong> son de última generación fabricados por las marcas más reconocidas del mercado. Por otra parte, en <strong>Diagnóstico 9 de Julio</strong> realizamos inversiones constantes con el objetivo de renovar y actualizar este equipamiento. De esta manera, ofrecemos las mejores alternativas tecnológicas para llevar a cabo estudios y diagnósticos precisos para cada uno de nuestros pacientes y de las empresas de salud que confían en nosotros. </p>
                </div> 
            </div> 
            <img src="../../assets/img/rombo03a.png" alt="Imagen Nosotros" class="img-nosotros03a">  
        </div>  
    </div>
    <a href="https://api.whatsapp.com/send?phone=9541121509801" class="btn-wsp" target="_blank">
        <i class="fa-brands fa-whatsapp" style="color: #67ad5b;"></i>
    </a>
</section>
