<section class="section-servicios-medicos">
    <div class="container-servicios">
        <div class="container-servicios-img">
            <div class="div-title">
                <div>
                    <article class="">
                        <h5>SERVICIOS MÉDICOS</h5>
                        <h6> /</h6>
                    </article>
                    <h4>ESTUDIOS CARDIOLÓGICOS</h4>
                </div>
                <div class="div-descripcion">
                    <p>A través de nuestro equipo de cardiólogos, ofrecemos todos los estudios médicos vinculados a la especialidad, tanto en adultos como en niños (pediatría cardiológica). Son muy frecuentes, la solicitud de los siguientes estudios:</p> 
                </div>
            </div>
            <img src="../../assets/img/SMcardiologicos0.jpg" alt="Imagen servicios Cardiologicos">
        </div>
        <div class="container-servicios-lista">
            <div class="container-ul-cardiologia">
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Evaluación cardiológica completa para chequeos médicos de rutina o controles periódicos.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Aptos físicos deportivos con test de esfuerzo.</li>
                </ul>
                <ul>
                    <li><h4>Además,en <strong>Diagnóstico 9 de julio</strong>, realizamos:</h4></li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Eco Doppler cardíaco.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Eco Doppler cardíaco pediátrico.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Eco Doppler de aorta.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Eco Estrés con ejercicio.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ergometría.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Holter de presión (Presurometría)</li>
                </ul>
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Doppler arterial y venoso de ambos miembros (superiores o inferiores).</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Eco Doppler cardíaco 3D</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Eco Doppler cardíaco transesofágico.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Eco Doppler de vasos de cuello.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Electrocardiograma.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Holter cardíaco.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Riesgo quirúrgico.</li>
                </ul>
            </div>
            <div class="div-button"> 
                <button>Ir a turnos</button>
            </div>
        </div>
    </div>
        <div  class="section-sabermas">
            <div class="container-sabermas">
                <div class="title-sabermas">
                    <h5>Saber más acerca de los estudios cardiológicos</h5>
                </div>
                <div  class="container-text-servicios">
                    <div>
                        <p>Con nuestro equipamiento y el acreditado plantel profesional, ofrecemos una cobertura total, llevando adelante estudios preventivos y de diagnóstico sobre afecciones cardiológicas. </p>
                    </div>
                    <div> 
                        <p>
                            Por tal motivo, realizamos estudios que posibiliten al paciente prevenir enfermedades cardíacas o, en caso de ya haberlas padecido, obtener diagnósticos precisos que favorezcan su control y tratamiento.        
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://api.whatsapp.com/send?phone=9541121509801" class="btn-wsp" target="_blank">
            <i class="fa-brands fa-whatsapp" style="color: #67ad5b;"></i>
        </a>
</section>