<section class="section-servicios-medicos">
    <div class="container-servicios">
        <div class="container-servicios-img">
            <div class="div-title">
                <div>
                    <article class="">
                        <h5>SERVICIOS MÉDICOS</h5>
                        <h6> /</h6>
                    </article>
                    <h4>ECOGRAFÍAS Y ECODOPPLER</h4>
                </div>
                <div class="div-descripcion">
                    <p>A continuación, detallamos los diferentes estudios ecográficos que realizamos en <strong>Diagnóstico médico 9 de Julio: </strong></p> 
                </div>
            </div>
            <img src="../../assets/img/SMecodoppler.jpg" alt="Imagen servicios ecodoppler">
        </div>
        <div class="container-servicios-lista">
            <div class="container-ul">
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografía general.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografía partes blandas.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografía músculo esquelética.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografía ginecológica transvagina.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografía transrectal de próstata.</li>
                </ul>
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografía de articulaciones.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografías transluscencia nucal.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografía obstétrica con scan fetal.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografía NT Plus.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Monitoreo ecográfico de la ovulación.</li>
                </ul>
                <ul>
                    <li>En ecodoppler realizamos:</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecodoppler color.</li>
                </ul>
            </div>
            <div class="div-button"> 
                <button>Ir a turnos</button>
            </div>
        </div>
    </div>
    <div class="section-sabermas">
        <div class="container-sabermas">
            <div class="title-sabermas">
                <h5>Saber más sobre los estudios de ecografías o ecodoppler</h5>
            </div>
            <div  class="container-text-servicios">
                <div>
                    <p>La ecografía, es un estudio de diagnóstico médico por imágenes que utiliza ondas sonoras (ultrasonido) creando imágenes de órganos, tejidos y estructuras del interior del cuerpo humano. Se trata de un procedimiento inocuo e indoloro que emite radiaciones. </p>
                </div>
                <div> 
                    <p>
                        En <strong>Diagnóstico médico 9 de Julio</strong> contamos con un ecógrafo Samsung de alta tecnología que emite imágenes de alta calidad facilitando la precisión médica en cada uno de los diagnósticos.              
                    </p>
                 </div>
            </div>
        </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=9541121509801" class="btn-wsp" target="_blank">
        <i class="fa-brands fa-whatsapp" style="color: #67ad5b;"></i>
    </a>
</section>