<section class="section-servicios-medicos">
    <div class="container-servicios">
        <div class="container-servicios-img">
            <div class="div-title">
                <div>
                    <article class="">
                        <h5>SERVICIOS MÉDICOS</h5>
                        <h6> /</h6>
                    </article>
                    <h4>RADIOGRAFÍAS DIGITALES</h4>
                </div>
                <div class="div-descripcion">
                    <p>Realizamos los siguientes estudios a través de radiografías digitales:</p> 
                </div>
            </div>
            <img src="../../assets/img/SMradiologia.jpg" alt="Imagen servicios radiologia">
        </div>
        <div class="container-servicios-lista">
            <div class="container-ul">
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Articulación temporomandibular, tres posiciones comparativas.B</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Espinograma Digitalizado (1ra exposición).</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Hueso temporal o agujeros ópticos, comparativos, por incidencia y por par.B</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de Raquis SUB – Digitalizada.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de codo, antebrazo, muñeca, mano, dedos, rodilla, pierna, tobillo y pie. </li>
                
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de cráneo, cara, senos paranasales. Subsiguiente digitalizada.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de hombro, húmero, pelvis, cadera y femur 1era. exp. A.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de manos y muñeca frente y oblicuas.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de Raquis 1era exp.– Digitalizada.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía del cráneo, cara, senos paranasales o cavum, primera exposición. B.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía simple de abdomen 1era exp. – Digitalizada.   </li>
                </ul>
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía simple de árbol urinario – Digitalizada.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">RX extremidades inferiores AP, INC cadera a rodilla.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Telerradiografía de cráneo y/o perfil facial con cefalostato – 1era. exp. G.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Urograma excretor pielografía descendiente.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Espinograma (1era. exposición)</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Espinograma (2da. exposición)</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Espinograma Digitalizado (2da. exposición)</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Medición comparativa de miembros inferiores (ortorradiografía) por estudio. B.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de codo, antebrazo, muñeca, mano, dedos, rodilla, pierna, tobillo y pie.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de cráneo, cara, senos paranasales digitalizada.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de hombro, húmero, pelvis, cadera y fémur 1era exp. – Digitalizda.</li>
                </ul>
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de hombro, húmero, pelvis, cadera y fémur Sub. Digitalizada.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de Raquis (columna) primera exposición. B.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía de Tórax exp. sub – Digitalizada.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía o Telerradiografía de tórax..</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía posición de Marchand para rótula.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía simple de abdomen sub – Digitalizada.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía simple de abdomen, primera exposición. A.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Radiografía simple de árbol urinario. B.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">RX extremidades superiores AP, inc hombro-codo.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Tránsito colónico con marcadores radio opacos.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Urograma excretor con estudio vesical, pre y post miccional.</li>
                </ul>
            </div>
            <div class="div-button"> 
                <button>Ir a turnos</button>
            </div>
        </div>
    </div>
    <div  class="section-sabermas">
        <div class="container-sabermas">
            <div class="title-sabermas-radiologia">
                <h5>Saber más sobre los estudios de Rayos X digitales
                </h5>
            </div>
            <div  class="container-text-servicios-radiologia">
                <div>
                    <p>Se trata de una técnica diagnóstica de forma digital. Esta técnica permite obtener imágenes del paciente a través de rayos X o radiación gamma, permitiendo observar las partes más densas del cuerpo en diferentes tonos dentro de una escala de grises.   </p>
                </div>
    
            </div>
        </div>
    </div>
</section>