<section class="section-servicios-medicos">
    <div class="container-servicios">
        <div class="container-servicios-img">
            <div class="div-title">
                <div>
                    <h5>SERVICIOS MÉDICOS /</h5>
                    <h4>TOMOGRAFÍAS COMPUTADAS</h4>
                </div>
                <div class="div-descripcion">
                    <p>Realizamos todos los estudios a través de tomógrafos computados de manera integral.</p> 
                    <p>
                        Entre ellos:
                    </p>
                </div>
            </div>
            <img src="../../assets/img/SMtomografia.png">
        </div>
        <div>
            <div class="container-ul">
                <ul>
                    <li>Angiografía tomográfica coronaria no invasiva</li>
                    <li>Angiotomografías en general</li>
                    <li>Artrotomografía</li>
                    <li>Broncoscopía virtual</li>
                    <li>Enterotomografía con sinastal</li>
                </ul>
                <ul>
                    <li>Tomografía de vejiga y próstata</li>
                    <li>Tomografía hepatobiliar esplénica pancreática</li>
                    <li>Urotomografía</li>
                    <li>Bloqueo radicular selectivo bajo TC</li>
                    <li>Colonoscopia Virtual con Novonil</li>
                </ul>
                <ul>
                    <li>Enterotomografía con Novonil</li>
                    <li>Tomografía de pelvis</li>
                    <li>Tomografía ginecológica</li>
                    <li>Tomografía de abdomen</li>
                </ul>
            </div>
            <div class="div-button"> 
                <button>Ir a turnos</button>
            </div>
        </div>
    </div>
    <div class="container-sabermas">
        <div class="title-sabermas">
            <h5>Saber más sobre los estudios de tomografías computadas</h5>
        </div>
        <div  class="container-text-servicios">
            <div>
                <p>La tomografía computada, es un estudio de diagnóstico por imágenes que utiliza un equipo especial de Rayos X.  Las imágenes son adquiridas por emisión de Rayos X a través del tubo del equipo, obteniéndose de esta forma, un volumen de datos que se reprocesa al instante y permite captar imágenes triplanares y volumétricas desde diferentes ángulos creando impresiones transversales del cuerpo y vistas </p>
            </div>
            <div> 
                <p>
                tridimensionales (3D) de tejidos y órganos. En el centro de diagnóstico 9 de Julio, realizamos las tomografías computadas con un tomógrafo Siemmens de última generación, el cual nos proporciona, imágenes de alta resolución, facilitando la realización de diagnósticos médicos de una manera más rápida y eficaz.             
                </p>
             </div>
        </div>
    </div>
</section>