<section>
    <div>
        <div>
            <div>
                <div>
                    <h5>SERVICIOS MÉDICOS /</h5>
                    <h4>TOMOGRAFÍAS COMPUTADAS</h4>
                </div>
                <div>
                    <P>Realizamos todos los estudios a través de tomógrafos computados de manera integral. <br/> Entre ellos: 
                    </P>
                </div>
            </div>
            <img src="../../assets/img/SMtomografia.png">
        </div>
        <div>
            <div>
                <ul>
                    <li>Angiografía tomográfica coronaria no invasiva</li>
                    <li>Angiotomografías en general</li>
                    <li>Artrotomografía</li>
                    <li>Broncoscopía virtual</li>
                    <li>Enterotomografía con sinastal</li>
                    <li>Tomografía de vejiga y próstata</li>
                    <li>Tomografía hepatobiliar esplénica pancreática</li>
                    <li>Urotomografía</li>
                    <li>Bloqueo radicular selectivo bajo TC</li>
                    <li>Colonoscopia Virtual con Novonil</li>
                    <li>Enterotomografía con Novonil</li>
                    <li>Tomografía de pelvis</li>
                    <li>Tomografía ginecológica</li>
                    <li>Tomografía de abdomen</li>
                </ul>
            </div>
            <div> <button>Ir a turnos</button></div>
        </div>
    </div>
    <div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>