<section class="section-servicios-medicos">
    <div class="container-servicios">
        <div class="container-servicios-img">
            <div class="div-title">
                <div>
                    <article class="">
                        <h5>SERVICIOS MÉDICOS</h5>
                        <h6> /</h6>
                    </article>
                    <h4>TOMOGRAFÍAS COMPUTADAS</h4>
                </div>
                <div class="div-descripcion">
                    <p>Realizamos todos los estudios a través de tomógrafos computados de manera integral.</p> 
                    <p>
                        Entre ellos:
                    </p>
                </div>
            </div>
            <img src="../../assets/img/SMTomografia.png">
        </div>
        <div class="container-servicios-lista">
            <div class="container-ul">
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Angiografía tomográfica coronaria no invasiva.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Angiotomografías en general.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Artrotomografía.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Broncoscopía virtual.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Enterotomografía con sinastal.</li>
                </ul>
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Tomografía de vejiga y próstata.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Tomografía hepatobiliar esplénica pancreática.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Urotomografía.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Bloqueo radicular selectivo bajo TC.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Colonoscopia Virtual con Novonil.</li>
                </ul>
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Enterotomografía con Novonil.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Tomografía de pelvis.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Tomografía ginecológica.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Tomografía de abdomen.</li>
                </ul>
            </div>
            <div class="div-button"> 
                <button>Ir a turnos</button>
            </div>
        </div>
    </div>
    <div  class="section-sabermas">
        <div class="container-sabermas">
            <div class="title-sabermas">
                <h5>Saber más sobre los estudios de tomografías computadas</h5>
            </div>
            <div  class="container-text-servicios">
                <div>
                    <p>La tomografía computada, es un estudio de diagnóstico por imágenes que utiliza un equipo especial de Rayos X.  Las imágenes son adquiridas por emisión de Rayos X a través del tubo del equipo, obteniéndose de esta forma, un volumen de datos que se reprocesa al instante y permite captar imágenes triplanares y volumétricas desde diferentes ángulos creando impresiones transversales del cuerpo y vistas 
                    tridimensionales (3D) de tejidos y órganos.
                        </p>
                </div>
                <div> 
                    <p>
                        En el Diagnóstico 9 de Julio, realizamos las tomografías computadas con un tomógrafo Siemmens de última 
                        generación, el cual nos proporciona, imágenes de alta resolución, facilitando la realización de diagnósticos médicos de una manera más rápida y eficaz. 
                                     
                    </p>
                 </div>
            </div>
        </div>
    </div>
</section>