<nav class="navbar navbar-expand-lg navbar-action p-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon" id="mobile-button"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav d-flex justify-content-evenly w-100">
          <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/">INICIO</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="nosotros" >NOSOTROS</a>
          </li>
          <li class="nav-item dropdown" routerLinkActive="active">
            <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             SERVICIOS MÉDICOS
            </a>
            <ul class="dropdown-menu mt-0">
              <li class="item-dopdown"><a class="dropdown-item" routerLink="tomografia">TOMOGRAFÍAS COMPUTADAS</a></li>
              <li class="item-dopdown"><a class="dropdown-item" routerLink="radiografia">RADIOGRAFÍAS DIGITALES</a></li>
              <li class="item-dopdown"><a class="dropdown-item" routerLink="ecografia">ECOGRAFÍAS Y ECODOPPLER</a></li>
              <li class="item-dopdown"><a class="dropdown-item" routerLink="cardiologia">ESTUDIOS CARDIOLÓGICOS</a></li>
              <li class="item-dopdown"><a class="dropdown-item" routerLink="oftalmologia">ESTUDIOS DE OFTALMOLOGÍA</a></li>
              <li class="item-dopdown"><a class="dropdown-item" routerLink="audiologia">ESTUDIOS AUDIOLÓGICOS</a></li>
            </ul>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link"  routerLink="coberturas">COBERTURAS MÉDICAS</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="medicinaLaboral">MEDICINA LABORAL</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="preguntasFrecuentes">PREGUNTAS FRECUENTES</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="contacto">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>