@import "../../styles/variables";


.navbar{
    background-color: $grey-base;
       
}
.navbar-action{
    a,li{
        @include navbar;
        :hover{
            color: aliceblue;
            background-color: $blue-base;
        }
    }
  .dropdown-menu{
    border: 0;
    border-radius: 1px;
    background-color: rgba($color: #0f3858, $alpha: 0.8);    
       a, li{
            color: $background;
        }
    }
}