@import "../styles/variables";

.section-servicios-medicos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.container-servicios{
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-servicios-img{
    display: flex;
    justify-content: space-between;
    margin:30px 0;
    padding: 20px 80px;
    article{
        display: flex;
    }
    .div-title{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include text-img-home;
        h5, h6{
            font-size: 1.6rem;
            margin-right: 10px;
            font-weight: 600;
          
        }
        h4{
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
        .div-descripcion{
            width: 80%;
            @include text-img-home;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                font-size: 1.8rem;
                text-align: start;
                font-weight: 600;
            }
        }
    }
    img{
        width: 700px;
        box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.8),-1px -1px 1px 0px rgba(0,0,0,0.8);
    }

}

.container-servicios-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 70px;
    width: 100%;
}
.container-ul{
   width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:20px 0 30px;
    ul{
        width: 30%;
        margin: 0;
        padding: 0;
    }
    li{
        @include text-img-home;
        font-size: 1.5rem;
        line-height: 30px;
        font-weight: 600;
        padding: 1%;
        text-align: start;
        list-style: none;
        display: flex;
        align-items: flex-start;
    }
}
.div-button{
    display: grid;
    justify-content: center;
    margin:0 0 3% 0;
    button{
        @include blue-button;
    }
}
.section-sabermas{
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-sabermas{
    margin: 20px 0 20px 0;
    background-color: $light-grey;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    .title-sabermas{
        width: 40%;
    }
    h5{
        @include white-header;
        font-size: 1.8rem;
        font-weight: bold;
    }
    
}

.container-text-servicios{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: flex-start;
    div{
        width: 50%;
        padding: 0 15px 0 15px;
    }
    p{
        @include white-header;
        font-size: 1.2rem;
        text-align: left;
        padding: 0;
        margin: 0;
        font-weight: 600;
    }
}


@media screen and (min-width: 1240px) and (max-width: 1700px) {

    .container-servicios-img{
        width: 100%;
      
        .div-title{
            width: 100%;
            
            h5, h6{
                font-size: 1.3rem;
            }
            h4{
                font-size: 1.8rem;
            }
            .div-descripcion{
                width: 80%;
             
                p{
                    font-size: 1.1rem;
                }
            }
        }
        img{
            width: 600px;
        }
      
    }
    .container-servicios-lista{
        width: 100%;
    }
    .container-ul{  
        li{
            font-size: 1.1rem;
        }
    
    }
    .section-sabermas{
        padding: 0 35px 0 35px;
    }
    .container-sabermas{
        width: 100%;
    }

}

@media screen and (min-width: 650px) and (max-width: 1239px) {
.container-servicios-img{
    margin: 0;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    .div-title{
        width: 90%;
        text-align: center;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            h5, h6{
                font-size: 1.2rem;
            }
            h4{
                font-size: 1.4rem;
            }
        }
        h6{
            display: none;
        }
        .div-descripcion{
            width: 70%;
            @include text-img-home;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            p{
                font-size: 1.1rem;
                text-align: center;
            }
        }
    }

    img{
       width: 350px;
        margin: 15px 0 15px 0;
    }

}

.container-sabermas{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    .title-sabermas{
        width: 80%;
    }
    h5{
        @include white-header;
        font-size: 1.6rem;
        text-align: center;
       font-weight: 600;
    }
    }

    .container-text-servicios{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        div{
            width: 100%;
            padding: 2% 0 2% 0;
        }
        p{
            @include white-header;
            font-size: 1rem;
            text-align: left;
            padding: 0;
            margin: 0;
            font-weight: 600;
        }
    }
.container-ul{
    flex-direction: column;
    align-items: center;
    margin: 0 0 2% 0;
    padding: 1%;
    ul{
        width: 80%;
        margin: 0;
    }
    li{
        font-size: 1.1rem
    }
}

}

@media screen and (min-width: 300px) and (max-width: 649px) {
   
    .container-servicios-img{
        padding:0;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        .div-title{
            text-align: center;
            width: 90%;
            align-items: center;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            h5{
                font-size: 1.1rem;
                margin: 0;
            }
            h4{
                font-size: 1.2rem;
                text-align: center;
            }
            h6{
                display: none;
            }
            .div-descripcion{
                width: 100%;
                @include text-img-home;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                p{
                    font-size:14px;
                    text-align: center;
                }
            }
        }
    
        img{
            width: 300px;
            margin: 15px 0 15px 0;
        }
    
    }
    .container-servicios-lista{
        width: 100%;
        padding: 1%;
    }
    .container-ul{
        flex-direction: column;
        align-items: center;
        margin: 0 0 20px 0;
        ul{
            width: 90%;
            margin: 0;
        }
        li{
            font-size: 14px;
        }
    }
    .div-button{
        display: grid;
        justify-content: center;
        margin:0 0 3% 0;
        button{
            @include blue-button;
            font-size: 0.8rem;
        }
    }
    .section-sabermas{
        padding: 20px 20px;
        margin-bottom: 50%;

    }
    .container-sabermas{
        padding: 10px;
        width:100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        .title-sabermas{
            width: 100%;

        }
        h5{
            @include white-header;
            font-size: 1rem;
            text-align: center;
            font-weight: bold;
        }
        }
        
        .container-text-servicios{
            display: flex;
            width: 90%;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            div{
                width: 100%;
                padding: 5px;
                margin-bottom: 5px
            }
            p{
                @include white-header;
                font-size: 14px;
                text-align: left;
                padding: 0;
                margin: 0;
                font-weight: 600;
            }
        }
    }
    @media screen and (min-width: 200px) and (max-width: 299px) {
   
        .container-servicios-img{
            padding: 10px;
            flex-direction: column-reverse;
            width: 100%;
            align-items: center;
            .div-title{
                text-align: center;
                width: 90%;
                align-items: center;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                h5{
                    font-size: 0.8rem;
                    margin: 0;
                }
                h4{
                    font-size: 1rem;
                    text-align: center;
                }
                h6{
                    display: none;
                }
                .div-descripcion{
                    width: 100%;
                    @include text-img-home;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: center;
                    p{
                        font-size: 1.1rem;
                        text-align: center;
                    }
                }
            }
        
            img{
                width: 250px;
                margin: 15px 0 15px 0;
            }
        
        }
        .container-servicios-lista{
            width: 100%;
            padding: 1%;
        }
        .container-ul{
            flex-direction: column;
            align-items: center;
            margin: 0 0 20px 0;
            ul{
                width: 90%;
                margin: 0;
            }
            li{
                font-size: 0.9rem;
            }
        }
        .div-button{
            display: grid;
            justify-content: center;
            margin:0 0 3% 0;
            button{
                @include blue-button;
                font-size: 0.8rem;
            }
        }
        .section-sabermas{
            padding: 10px;
            margin-bottom: 50%;
    
        }
        .container-sabermas{
            padding: 10px;
            width:100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            .title-sabermas{
                width: 100%;
    
            }
            h5{
                @include white-header;
                font-size: 1.1rem;
                text-align: center;
                font-weight: bold;
            }
            }
            
            .container-text-servicios{
                display: flex;
                width: 90%;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                div{
                    width: 100%;
                    padding: 5px;
                    margin-bottom: 5px
                }
                p{
                    @include white-header;
                    font-size: 12px;
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    font-weight: 600;
                }
            }
        }