
<section class="section-coberturas">
    <img src="../../assets/img/coberturasMedicasBanner.png" alt="Banner coberturas medicas">
    <div class="container-coberturas">
        <div>
            <p>
                Próximamente, estará disponible toda la información de las coberturas médicas con la
                cual trabaja <strong>Diagnóstico 9 de Julio.</strong> Para consultarnos si tu cobertura médica trabaja
                con nosotros, por favor, envianos tu consulta al siguiente mail:
            </p>
            <a href="mailto:consultas@diagnostico9dejulio.com.ar">
                <strong>consultas&#64;diagnostico9dejulio.com.ar</strong>
            </a>
            <p>También podés contactarte con nosotros a través de Whatsapp:<br/>
                +5411 2150-9801
            </p>
        </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=9541121509801" class="btn-wsp" target="_blank">
        <i class="fa-brands fa-whatsapp" style="color: #67ad5b;"></i>
    </a>
</section>
