
<section class="section-medicina-laboral">
    <img src="../../assets/img/medicinaLaboralBanner.png" alt="" class="w-100">
    <div class="container-medicina-laboral d-flex justify-content-center">
        <div class="div-contenido-medicina">
            <div class="mt-5">
                <h5>
                    Realizamos los siguientes <br/>
                    estudios vinculados a la  <br/>
                    medicina laboral:  <br/>
                </h5>
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Exámenes preocupacionales.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Exámen periódico de salud.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Exámenes médicos de egreso.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Exámenes psicofísicos dirigidos al personal de seguridad.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Psicotécnicos laborales.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Atención médica por accidentes de trabajo a cargo de las ART.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Servicios médico interno en planta.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Control de ausentismo laboral.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Ausencia prolongada - Exámen médico.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Salud ocupacional - Capacitación.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista"class="icono-azul">Apto físico.</li>
                </ul>
            </div>
            <div class="mt-5">
                <app-form></app-form>
            </div>
        </div>
    </div>
    <div class="div-texts-laboral">
        <div class="p-3">
            <h5>Saber más acerca de <br/>
            la medicina laboral</h5>
        </div>
        <div class="container-text-laboral">
            <div class="">
                <p>Los exámenes ocupacionales en el marco de las leyes nacionales 19.587 y 24.557, y de la resoluciónde la Superintendencia de Riesgo de Trabajo (Art) 43/97, ofrecen un marco de seguridad socialresultando una herramienta fundamental para las organizaciones. Por medio de las evaluaciones, las </p>
            </div>
            <div class="">
                <p>empresas conocen la aptitud psicofísica de una persona para una actividad o puesto determinado proporcionando un diagnóstico oportuno de alguna condición o enfermedad relacionada con la actividad laborar en diferentes etapas de la relación de trabajo.  </p>
            </div>
        </div>
    </div>
    <div class="div-beneficios mt-5">
        <div class="container-beneficios">
            <div>
                <h5>
                    Beneficios para <br/>
                    las empresas:<br/>
                </h5>
                <ul>
                    <li>Protegen y promueven la seguridad y salud de los trabajadores.</li>
                    <li>Ofrecen a las empresas un amplio y profundo conocimiento de la salud de las personas.</li>
                    <li>Contribuyen a la generación de ambientes de trabajo saludables.</li>
                    <li>Reducen el ausentismo y sus costos asociados.</li>
                    <li>Respaldan la capacidad productiva de los colaboradores por contar con personas en buena condición de salud.</li>
                    <li>Permiten conocer la capacidad de adaptación de las personas a un puesto y a ambiente de trabajo.  </li>
                    <li>Contribuyen a mejorar el desempeño de las personas.</li>
                    <li>Reducen contingencias legales por su carácter preventivo.</li>
                </ul>
            </div>
            <div class="d-flex justify-content-center">
                <img src="../../assets/img/romboLaboral02.png" alt="">
            </div>
            <div>
                <h5>
                    Beneficios para<br/>
                    los colaboradores:<br/>
                </h5>
                <ul>
                    <li>Conocen su estado de salud general en relación a las actividades laborales.</li>
                    <li>Detectan enfermedades de origen común que pueden evitarse con medicina preventiva.</li>
                    <li>Diagnostican afecciones que pueden ser potenciales enfermedades profesionales.</li>
                    <li>Conocen el tipo de actividad que pueden realizar, en qué ambiente y con qué herramientas.</li>
                    <li>Conocen los riesgos que existen en su puesto de trabajo.</li>
                </ul>
            </div>
        </div>

    </div>
</section>