<section class="section-servicios">
    <div>
        <img src="../../../assets/img/serviciosMedicosBanner.png" alt="Banner-Servicios-Medicos">
    </div>
    <div class="background-servicios">
        <div class="container-servicios">
            <div> <h5>En <strong>Diagnóstico 9 de Julio</strong> <br/>realizamos estudios médicos de las siguientes especialidades:</h5>
            </div>
            <div class="div-img-servicios">
                <a href="tomografia"><div><img src="../../../assets/img/rombo-tomografia.png" alt="imagen miniatura tomografia"><p>TOMOGRAFIAS COMPUTADAS</p></div></a>
                <a href="radiografia"><div><img src="../../../assets/img/rombo-radiografia.png" alt="imagen miniatura radiografias"><p>RADIOGRAFÍAS DIGITALES</p></div></a>
                <a href="ecografia"><div><img src="../../../assets/img/romboEcografia.png" alt="imagen miniatura ecografia"><p>ECOGRAFÍAS Y ECODOPPLER</p></div></a>
                <a href="cardiologia"><div><img src="../../../assets/img/romboCardiologia.png" alt="imagen miniatura cardiologia"><p>ESTUDIOS CARDIOLÓGICOS</p></div></a>
                <a href="oftalmologia"><div><img src="../../../assets/img/romboOftalmología.png" alt="imagen miniatura oftalmologia"><p>ESTUDIOS DE OFTALMOLOGÍA</p></div></a>
                <a href="audiologia"><div><img src="../../../assets/img/romboAudiologia.png" alt="imagen miniatura audiologia"><p>ESTUDIOS AUDIOLÓGICOS</p></div></a>
            </div>
            <div class="subtitulo-servicios"> <h6>Alta calidad médica en cada uno de nuestros servicios. Conozca más ingresando al servicio de su interés.</h6></div>
        </div>    
    </div>  
    <a href="https://api.whatsapp.com/send?phone=9541121509801" class="btn-wsp" target="_blank">
        <i class="fa-brands fa-whatsapp" style="color: #67ad5b;"></i>
    </a>
</section>
