<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Para mas información, le pedimos
        que por favor complete el formulario.</h3>
      <fieldset>
        <input placeholder="Nombre y apellido" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Empresa:" type="text" tabindex="4" required>
      </fieldset>
      <fieldset>
        <input placeholder="Teléfono" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Mail" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Mensaje" tabindex="5" required></textarea>
      </fieldset>
      <div class="container-buttons">
        <div class="forms-buttons">
            <label>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button>
            </label>
            <label for="">
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Borrar todo</button>
            </label>
          </div>
      </div>
      
    </form>
  </div>