@import "../../../styles/variables";

.container-home{
    width: 100%;
    height: 100%;
}
.section-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    .div-img-home-services{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
        width: 100%;
        margin-bottom: 30%;
        .div-servicios-medicos, .div-medicina-laboral{
            width: 100%;
        
        }
        .div-servicios-medicos{
            // background-image: url("../../../assets/img/serviciosMedicos.png");
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            position: relative;
            flex-direction: column;
            justify-content: center;
        }
        
        
            }
        }
        .div-medicina-laboral{
            display: flex;
            position: absolute;
            flex-wrap: wrap;
            top: 75%;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        .container-servicios{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        .servicios-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 3;
            position: absolute;
            width: 35%;
            top: 30%;
            h4, p {
                @include text-img-home
            }
            h4{
                font-size: 2.5rem;
            }
            p{
                font-size: 2rem;
            }
            button{
                @include  blue-button
            }
        }
        .container-laboral{
            position: inherit;
            width: 100%;
            height: 50%;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .medicina-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 2;
            width: 35%;
            top: 35%;
            left: 10%;
            position: absolute;
            justify-content: flex-end;
            h4, p {
                @include text-img-home
            }
            h4{
                font-size: 2.5rem;
            }
            p{
                font-size: 2rem;
            }
            button{
                @include  blue-button
            }
        }
        .img-home1{
            width: 100%;
            z-index: 1;
            position: relative;
        }
        .img-home{
            width: 100%;
            z-index: 1;
            position: relative;
        }
    
  
    .div-portal-paciente{
        position: relative;
        height: 50%;
        img{
            width: 100%;
            z-index: 1;
            position: relative;
        }
        .blue-button{
            @include blue-button;
        }
    }
    .div-portal-paciente-text{
        background-image: url("../../../assets/img/bannerChico.png");
        width: 100%;
        position: absolute;
        z-index: 3;
        top: 30%;
        height: 40%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .div-button-turnos{
            width: 90%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            h4{
                font-size: 2.5rem;
                color: $background;
                font-family: 'Montserrat', sans-serif;
            }
        }
    }
   
.container-servicios{
    h4{
        font-family: 'Montserrat', sans-serif;
        color: $blue-base;
        font-size: 2rem;
        text-align: center;

    }
    .div-servicios{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        padding: 10px;
        img{
            max-width: 150px;
        }
        div{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 30%;
            h5{
                font-family: 'Montserrat', sans-serif;
                color: $grey-base;
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 1240px) and (max-width: 1700px) {
    .servicios-text{
        width: 40%;
        h4{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.4rem;
        }
       
    }
    .medicina-text{
        width: 40%;
        h4{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.4rem;
        }

    }
    .div-portal-paciente-text{
        .div-button-turnos{
            h4{
                font-size: 1.8rem;
            }
        }
    }
   
    .container-servicios{
        .div-servicios{
            width: 90%;
            div{
                h5{
                    font-size: 1rem;
                }
            }
        }
        h4{
            font-size: 1.5rem;
        }
       
       
    }
  }