@import "../../../styles/variables";

.container-home{
    width: 100%;
    height: 100%;
}
.section-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    .div-img-home-services{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
        margin-bottom: 30%;

        .img-home1{
            width: 100%;
            z-index: 2;
            position: relative;
        }
        .img-home{
            width: 100%;
            z-index: 1;
            position: absolute;
            top: 70%;
        }
    }
  
    .div-portal-paciente{
        position: relative;
        height: 50%;
        img{
            width: 100%;
            z-index: 1;
            position: relative;
        }
        .blue-button{
            @include blue-button;
        }
    }
    .div-portal-paciente-text{
        background-image: url("../../../assets/img/bannerChico.png");
        width: 100%;
        position: absolute;
        z-index: 3;
        top: 30%;
        height: 40%;
    }
   
}
.div-servicios{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    img{
        max-width: 150px;
    }
}
