
<app-header></app-header>
<carousel-pause></carousel-pause>


<div class="container-home">
    <section class="section-home">
        <div class="div-img-home-services">
            <div class="div-servicios-medicos">
                <div class="servicios-text">
                    <h4>SERVICIOS MEDICOS</h4>
                    <p>Encontrá toda la variedad <br/> de estudios que realizamos</p>
                    <button class="btn">Más Info</button>
                </div>
                <img src="assets/img/serviciosMedicos.png" class="img-home1">
            </div>
            <div class="div-medicina-laboral">
                <div class="medicina-text">
                    <h4>MEDICINA LABORAL</h4>
                    <p>Nos especializamos en todo lo <br/> que necesitas en realación a lo laboral</p>
                    <button class="btn">Solicitar información</button>
                </div>
                <img src="assets/img/medicinaLaboral.png"  class="img-home">
            </div>
        </div> 
        <div class="div-portal-paciente">
            <img src="assets/img/rombos.png"  class="rombos-home">
            <div class="div-portal-paciente-text">
                <h4>PORTAL DE PACIENTES - TURNOS Y RESULTADOS ONLINE</h4>
                <button  type="button" class="btn blue-button">Ingresar</button>
            </div>
        </div>
        <div class="div-servicios">
            <img src="assets/img/tomografia.png" alt="">
            <img src="assets/img/rayos.png" alt="">
            <img src="assets/img/ecografia.png" alt="">
            <img src="assets/img/cardiologia.png" alt="">
            <img src="assets/img/oftalmologia.png" alt="">
        </div>
    </section>
</div>

<app-footer></app-footer>