@import "~bootstrap/dist/css/bootstrap.css";
@import 'bootstrap/scss/bootstrap';
@import "styles/variables.scss";
body{
    background-color:$background;
    max-width: 1920px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

