<section class="section-servicios-medicos">
    <div class="container-servicios">
        <div class="container-servicios-img">
            <div class="div-title">
                <div>
                    <article class="">
                        <h5>SERVICIOS MÉDICOS</h5>
                        <h6> /</h6>
                    </article>
                    <h4>ESTUDIOS AUDILÓGICOS</h4>
                </div>
                <div class="div-descripcion">
                    <p>En el centro de diagnóstico 9 de Julio realizamos los siguientes estudios audiológicos: 
                    </p> 
                </div>
            </div>
            <img src="../../assets/img/SMauditivos.jpg">
        </div>
        <div class="container-servicios-lista">
            <div class="container-ul-audiologia">
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Audiometría.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Timpoanometría.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Impedancioametría.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Logoaudiometría.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Pruebas Supraliminares.</li>
                </ul>
            </div>
            <div class="div-button"> 
                <button>Ir a turnos</button>
            </div>
        </div>
    </div>
    <div  class="section-sabermas">
        <div class="container-sabermas">
            <div class="title-sabermas">
                <h5>Saber más acerca de los estudios audiológicos</h5>
            </div>
            <div  class="container-text-servicios">
                <div>
                    <p>A través de los estudios audiológicos puede evaluarse la capacidad del adulto, infante o adolescente para escuchar sonidos. Los sonidos varían de acuerdo con el volumen o fuerza (intensidad) y con la velocidad de vibración de las ondas sonoras (tono).  </p>
                </div>
                <div> 
                    <p>
                        La audición se produce cuando las ondas sonoras estimulan los nervios del oído interno: audiometría tonal liminar; audiometría vocal, impedanciometría y potenciales evocados auditivos.            
                    </p>
                 </div>
            </div>
        </div>
    </div>
</section>