<section class="section-servicios-medicos">
    <div class="container-servicios">
        <div class="container-servicios-img">
            <div class="div-title">
                <div>
                    <article class="">
                        <h5>SERVICIOS MÉDICOS</h5>
                        <h6> /</h6>
                    </article>
                    <h4>ESTUDIOS OFTALMOLÓGICOS</h4>
                </div>
                <div class="div-descripcion">
                    <p>En <strong>Diagnóstico 9 de Julio</strong>, realizamos los siguientes estudios oftalmológicos:</p> 
                </div>
            </div>
            <img src="../../assets/img/SMoftalmologicos.jpg" alt="Imagen servicios oftalmologicos">
        </div>
        <div class="container-servicios-lista">
            <div class="container-ul">
                <ul>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Angiografía O.C.T.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Campimetría Computarizada.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Ecografía modo A y B.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Estudio Angiográfico de Retina</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">IOL Master.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Mocroscopía Especular.</li>
                </ul>
                <ul>

                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Tomografía de Coherencia Óptica.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Reinalyze.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Paquimetría.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Pentacam.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Receta de lentes por computación.</li>
                </ul>
                <ul>
                    
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Tomografía corneal.</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">UBM (Ultrabiomicroscopia).</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Tonómetro</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Autorefractómetro con queretómetro</li>
                    <li><img src="../../assets/img/rombitoAzul.png" alt="icono lista" class="icono-azul">Oftalmocopio</li>
                </ul>
            </div>
            <div class="div-button"> 
                <button>Ir a turnos</button>
            </div>
        </div>
    </div>
    <div  class="section-sabermas">
        <div class="container-sabermas-oftalmologia">
            <div class="title-sabermas">
                <h5>Saber más acerca de los estudios oftalmológicos</h5>
            </div>
            <div  class="container-text-servicios-oftalmologia">
                <div>
                    <p>En <strong>Diagnóstico 9 de Julio</strong> buscamos soluciones a los problemas oculares procurando su detección precoz o proporcionando un seguimiento dedicado a una afección ya diagnosticada. De esta forma, mediante nuestro equipamiento oftalmológico de última generación y el staff de especialistas médicos, estamos en condiciones de diagnosticar las más amplias patologías, entre ellas: Ambliopía, Astigmatismo, Cataratas, Presbicia, Maculopatía, Estrabismo, Edema Macular, etc.
                    </p>
                    <h5>Además de estos estudios realizamos:</h5>
                    <p>
                        - Estudios de tonometría (tonómetro) el cual mide la presión dentro de los ojos. El examen se utiliza para detectar si hay glaucoma y/o verificar qué tan bien está funcionando el tratamiento de glaucoma. 
                    </p>
                </div>
                <div>
                    <p>
                        - Lámpara de hendidura. Mediante el examen de lámpara de hendidura se pueden detectar muchas enfermedades oculares, entre las que se incluyen: nubosidad en el lente del ojo (cataratas), lesión en el tejido transparente (cornea) y el síndrome del ojo seco
                        </p>
                    <p>
                        - Autorefractómetro con queratómetro. A través de el autorefractor es posible calcular la capacidad de enfoque de los ojos del paciente e indicar un valor aproximado de su graduación. Para ello, el oftalmólogo le pedirá al paciente que mire fijamente a través de dos lentes una imagen determinada, por ejemplo, un globo aerostático al final de una carretera larga y estrecha centrándose en la imagen. 
                    </p>     
                    <p>
                        - Oftalmocopio. El oftalmocopio es un instrumento médico que permite examinar directamente la retina.     
                    </p>
                </div>
    
            </div>
        </div>
    </div>
</section>